{{ define "main" }}
<section class="list-page">
  <header class="list-header">
    <a href="/" class="post-back">&larr; Home</a>
    <h1 class="list-title">{{ .Title }}</h1>
    {{ with .Content }}
    <div class="list-content">{{ . }}</div>
    {{ end }}
  </header>

  {{ if .Pages }}
  <ul class="post-listing">
    {{ range .Pages.ByDate.Reverse }}
    <li class="post-listing-item">
      <a href="{{ .RelPermalink }}" class="post-title">{{ .Title }}</a>
      <span class="post-date">{{ .Date.Format "Jan 2006" }}</span>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end }}
