<header>
  <div class="nav">
    <div class="logo-container">
      <a href="{{ .Site.BaseURL }}" class="site-title">{{ .Site.Title }}</a>
    </div>
    
    <!-- Desktop Navigation -->
    <nav class="desktop-nav">
      <ul class="desktop-nav-links">
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    
    <!-- Mobile Menu Icon -->
    <div class="inner-nav-group">
      <div class="icon-menu">
        <span class="bar bar--1"></span>
        <span class="bar bar--2"></span>
        <span class="bar bar--3"></span>
      </div>
    </div>
  </div>
  
  <!-- Mobile nav expandable - outside main nav flex container -->
  <nav class="mobile-nav">
    <ul class="nav-links">
      {{ range .Site.Menus.main }}
        <li class="nav-link-li"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>
